@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

/* 태그 선택 : 추천하는 각 태그별 기본값 */
a {
  text-decoration: none;
  /* 디자인 보고 수정 */
  color: #000;
}

ul {
  list-style: none;
}

html {
  width: 100%;
  /* 디자인 보고 수정 */
  font-size: 16px;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;

  .roboto-<uniquifier > {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
}

body {
  width: 100%;
  /* 디자인 보고 수정 */
  font-size: 1rem;
  color: #999;
  letter-spacing: 0px;
  word-spacing: 0px;
  /* 글꼴 보고 수정 */
  font-family: "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif,
  letter-spacing: 0px;
  word-spacing: 0px;
}

.wrap {
  width: 100%;
}

.layouta {
  width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}

span.section_desc {
  background-color: white;
  color: #696969;
}

.header {
  width: 100%;
  height: 163px;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top : 30px;
  margin-bottom : 30px;
}

.header_top_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo > a > img {
  width: 150px;
  height: 38px;
}

.search_from {
  display: flex;
  align-items: center;
  width: 460px;
}

.search_from_word {
  width: calc(460px - 50px);
  height: 50px;
  background-color: #f7f7f8;
  border: none;
  border-radius: 25px 0px 0px 25px;
  padding-left: 15px;
}

.search_from_button {
  width: 50px;
  height: 50px;
  background-color: #f7f7f8;
  border: none;
  border-radius: 0px 25px 25px 0px;
}

.header_top_right {
  
}

.memeber {
  display: flex;
}

.header_bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0;
}

.cupon {
  display: flex;
  align-items: center;
}

.cupon > li > a {
  display: flex;
  align-items: center;
}
