.footer {
  background-color: #f8f9fa;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 20px;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  text-decoration: none;
  color: #007bff;
}

.footer-section a:hover {
  text-decoration: underline;
}
