.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.header_top_left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo > a > img {
  width: 152px;
  height: auto;
}

.search {
}

.search_from {
  display: flex;
  align-items: center;
  width: 460px;
}

.search_from_word {
  width: calc(100% - 50px);
  height: 50px;
  background-color: #f7f7f8;
  border: none;
  border-radius: 25px 0px 0px 25px;
  padding-left: 15px;
}

.search_from_button {
  width: 50px;
  height: 50px;
  background-color: #f7f7f8;
  border: none;
  border-radius: 0px 25px 25px 0px;
  font-size: 0;
  cursor: pointer;
  background: #f7f7f8 url("../images/btn_search.svg") no-repeat center;
  background-size: 18px;
}

.header_top_right {
}

.memeber {
  display: flex;
  gap: 20px;
}

.memeber > li > a {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  line-height: 16px;
}

.header_bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  position: relative;
  display: flex;
  gap: 10px;
}

.nav::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: calc(100% - 50%);
  transform: translateY(-50%);
  width: 2px;
  height: 24px;
  background-color: #e9e9e9;
}

.nav li a {
  position: relative;
  display: block;
  font-size: 25px;
  font-weight: 700;
  padding: 20px 35px;
}

.nav li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 4px;
  background-color: #1c1c1c;
  opacity: 0;
  transition: opacity 0.3s;
}
.nav li a:hover::after,
.nav li a.focus::after {
  opacity: 1;
}

.nav li a.no-bold,
.nav li a.no-bold:hover {
  font-weight: normal;
}

.header_bottom_eventmenu {
}

.cupon {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}

.cupon > li > a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #324b97;
  padding: 0 20px;
}

.cupon > li > a > img {
  transform: translateY(10%);
}
