.trip {
  position: relative;
  margin-top: 65px;
}

.highlight_top {
  padding-bottom: 22px;
}

.wTrip_with__ivALN {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.wTrip_main_link,
.wTrip_help_link {
  display: inline-flex;
  align-items: center;
}

.highlight_desc {
  display: block;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: hsla(0, 0%, 7%, 0.5);
}

.highlight_list {
  position: relative;
}

.highlight_slide {
  position: relative; /* 버튼 위치 기준 */
  margin-bottom: 20px;
}

.bodyitem {
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.bodyitem > a {
}

.bodyitem_image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 25px;
}

.bodyitem_image > img {
  display: block;
  width: 100%;
  /* 비율을 유지하면서 영역에 이미지 가득 채우기 */
  height: 100%;
  object-fit: cover;
}

.bodyitem_name {
  position: absolute;
  top: 230px;
  left: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1e;
  background: linear-gradient(
    90deg,
    #4ed8eb 0.08%,
    #c9d8f4 21.6%,
    #fbeaf0 42.04%,
    #c0f3f3 65.17%,
    #a9eeee 83.46%,
    #5cf3dc 100%
  );
  border-radius: 4px;
}

.bodyitem_text {
  padding: 20px;
  padding-top: 5px;
}

.bodyitem_cupon {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 최대 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 18px;
  line-height: 1.4; /* 줄 간격 설정 (조절 가능) */
  font-weight: 400;
  color: #29292d;

  /* white-space 제거: 줄바꿈 허용 */
  white-space: normal;

  /* 선택적으로 높이 고정 (더 깔끔하게 제어) */
  max-height: calc(1.4em * 2); /* line-height * 2줄 */
}

.bodyitem_desc {
  display: block;
  /* 말줄임 처리 */
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  color: #121212a1;
  /* 줄내림 방지 */
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 8px;
  padding-bottom: 8px;
}

.bodyitem_price {
  font-size: 16px;
  font-weight: 400;
}

.bodyitem_price > b {
  font-size: 20px;
  font-weight: 700;
}

.highlight_More {
  display: flex;
  justify-content: center;
}

.highlight_More > a {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;

  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  gap: 5px;
}

.highlight_More > a > img {
  transform: translateY(1px);
}

/* swiper 버튼 비활성시 표현 */
.swiper-button-disabled {
  display: none !important;
}

.sw_trip_pg .swiper {
  bottom: 10px !important; /* 기본 상태에서도 위치를 위로 올림 */
  display: none;
}

/*반응형*/
@media all and (max-width: 1024px) {
  .trip {
    border-top: 8px solid #f4f4f4;
    margin-top: 50px;
    padding-top: 10px;
  }
  .trip .highlight_top {
    padding-bottom: 12px;
  }

  .trip .highlight_desc {
    font-size: 15px;
  }
}
